---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Problem from '../components/Problem.astro';
import Solution from '../components/Solution.astro';
import Features from '../components/Features.astro';
import Preview from '../components/Preview.astro';
import Testimonials from '../components/Testimonials.astro';
import CtaFinal from '../components/CtaFinal.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <main>
    <Hero />
    <Problem />
    <Solution />
    <Features />
    <Preview />
    <Testimonials />
    <CtaFinal />
  </main>
  <Footer />
</Layout>
